<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<title>Image Uploader</title>
	<style type="text/css">
		.title{
			font-size: 50px;
		}
	</style>
</head>
<body>
	<div class="jumbotron text-center">
		<div class="title mb-3">Upload Image</div>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form}}
			<button class="btn btn-danger" type="submit">upload</button>
		</form>
	</div>
	<div class="row">
		{% for x in img %}
		<div class="col-sm-3">
			<div class="card m-2">
				<img src="{{x.img.url}}" class="card-img-top" height="200px">
			</div>
		</div>
		{% endfor %}
	</div>
</body>
</html>